<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hello, world!</title>

    <style>
      body {
        background-color: rgba(79, 126, 255, 0.692);
      }
    </style>

  </head>
  <body>

    <div class="container p-4 m-auto mt-5 bg-white">
      <h1 class="center" align="center">TODO LIST</h1>
      <form action="/add-todo/" method="POST">
        <div class="mb-3 d-flex">
          <input placeholder="TODO ITEM" class="form-control m-1 mt-0 mb-0" id="content" name="content" aria-describedby="emailHelp">
          <button class="btn btn-primary">ADD</button>
        </div>
      </form>
    </div>

    <div class="container p-4 m-auto mt-2 bg-white">
      {% for task in tasks %}
      <div class="d-flex align-items-center justify-center mb-2 mt-2">
        <input type="checkbox" class="form-check-input" id={{task.id}} onchange="crossed(id)">
        <label id="label{{task.id}}" class="form-check-label w-100 ms-2 me-2" for="exampleCheck">{{task.taskName}}</label>
        <a href="/delete-todo/{{task.id}}" class="btn btn-danger p-1 pt-0 pb-0"><i class="fa fa-trash-o"></i></a>
      </div>
      {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      function crossed(id) {
        const obj = document.getElementById(id);
        const title = document.getElementById('label' + id);
        if (obj.checked) {
          title.style.textDecoration = "line-through";
        }else {
          title.style.textDecoration = "none";
        }
      }
    </script>
  </body>
</html>