{% extends 'base.html' %}

{% block main %}

<form action="/posts/ask/" method="POST" >
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Header</label>
        <input type="text" name="header" class="form-control" id="header">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" id="content" rows="10" class="form-control"></textarea>
    </div>

    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}